.root {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.input {
  min-width: 50% !important;
  font-size: 20px;
  font-weight: 500;
}

.input::placeholder {
  color: #1f1818;
}

.btn {
  margin-left: 30px !important;
  height: 55px;
}

.line {
  width: 97%;
  height: 1px;
  background-color: lightgray;
  margin: 40px 20px;
}
